body {
    background-color: #4797f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcContainer {
    flex: 1 1 auto;
    margin: auto;
    margin-top: 100px;
    background-color: #a79797;
    border-right: 10px solid #857575;
    border-bottom: 10px solid #857575;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 15px 15px 10px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.calcDisplay,
.numberPadContainer,
.operatorContainer,
.paddingDiv {
    flex: 1 1 auto;
    margin: auto;
}

.paddingDiv {
    margin-top: 100px;
}

.calcDisplay {
    margin-top: 30px;
    width: 50%;
    height: 100px;
    border: 5px solid #757592;
    background-color: #ababd8;
    text-align: right;
    font-size: 30px;
}

.numberPadContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    height: 300px;
    width: 300px;
    padding: 20px;
    background-color: #b69696;
    margin-left: 400px;
    margin-right: 400px;
}

.numberPad {
    flex: 1 1 auto;
    margin: auto;
    padding: 0px;
    padding-top: 10px;
    background-color: #6ccaa3;
    color: #d4e2e0;
    text-align: center;
    border-right: 5px solid #3f755f;
    border-bottom: 5px solid #3f755f;
    height: 50px;
    width: 60px;
    font-size: 30px;
}

.clickedNum {
    background-color: #679682;
    transform: scale(0.9);
    border: none;
    box-shadow: inset 2px 0px 0px 2px #667971;
    transition: 0.08s ease;
}

.operatorContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 400px;
    height: 200px;
}

.operator {
    flex: 1 1 auto;
    margin: auto;
    padding: 0px;
    padding-top: 10px;
    background-color: #ebde68;
    color: #595a51;
    text-align: center;
    border-right: 5px solid #b6ac57;
    border-bottom: 5px solid #b6ac57;
    height: 50px;
    width: 70px;
    font-size: 30px;
}

.clickedOperator {
    background-color: #dbd38a;
    transform: scale(0.9);
    border: none;
    box-shadow: inset 2px 0px 0px 2px #857f4b;
    transition: 0.08s ease;
}

